<p>
  invoice-form works!
</p>
 <h2>Add Invoice</h2>

<form (ngSubmit) = "onSubmit(f)" #f = "ngForm" >
   <div class="form-group">
     <label for="name">Product Name</label>
     <input type="text"
            class="form-control"
            id="name"
            name = "name"
            required
            [(ngModel)] = "invoice.name">
   </div>
   <div class="form-group">
     <label for="amount">Amount</label>
     <input type="text"
             class="form-control"
            id="amount"
            name = "amount" 
            required
            [(ngModel)] = "invoice.amount"
            value="1000">
   </div>
   <button type="submit" class="btn btn-primary" >Save Invoice</button>
 </form>
