
<h2>list of invoices</h2>
 
<i *ngIf="isLoading" class="fa fa-spinner fa-spin fa-3x"></i>
 <div>
  <ul class="list-group invoices">
    <li *ngFor ="let invoice of invoices" 
    [class.active]="currrentinvoice ==invoice" 
    (click) ="select(invoice)"
    class="list-group-item" >
     <jce-invoice [invoice] ="invoice"></jce-invoice>
    </li>
  </ul>
</div>